@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ****************************** */
/*  Below 1200px landscape tablets   16px= 1em = 1rem  rem在某些浏览器中会崩溃 所以 用em替代*/
/* ****************************** */

@media (max-width: 75em) {
  html {
    /* 9/16=0.5625 */
    font-size: 56.25%;
  }

  .grid {
    row-gap: 6.4rem;
    column-gap: 4.8rem;

    /* margin-bottom: 9.6rem; */
  }

  .heading-secondary {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 6.4rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .main-nav-list {
    gap: 2.4rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}
/* ****************************** */
/*  Below 994px  tablets
/* ****************************** */

@media (max-width: 59em) {
  html {
    /* 8/16=0.5625 */
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8.4rem;
    gap: 6.4rem;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .hero-img {
    width: 60%;
  }

  .logs img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.6rem;
  }

  /* mobile navgation */
  .btn-mobile-nav {
    display: block;
    /* 确保在最顶层 */
    z-index: 9999;
  }

  .main-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffffee;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);

    transition: all 0.5s ease-out;

    /* Hiden navigation */
    /* Allow no transition at all */
    /* display:none */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible for mouse and keyboard */
    pointer-events: none;

    /* 3）Hide it from screen reader */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}
/* ****************************** */
/*  Below 700px  smaller tablets
/* ****************************** */

@media (max-width: 44em) {
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diet {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 4.8rem;
  }

  .grid {
    row-gap: 4.8rem;
    column-gap: 3.2rem;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

/* ****************************** */
/*  Below 544px  phone
/* ****************************** */

@media (max-width: 34em) {
  .grid-2-cols,
  .grid-3-cols,
  .grid-4-cols {
    grid-template-columns: 1fr;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .logs img {
    height: 1.2rem;
  }

  /* 选择是父集container的第二个子集的那个step-img-box */
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    /* 因为 图片是在css中体现 自动匹配同一行的高度，改成一行后需要自行给图片增加高度 */
    height: 32rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }

  .cta .heading-secondary {
    margin-bottom: 2.4rem;
  }

  .cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3.2rem;
  }
}

/*       -FONT SIZE SYSTEM (px)
          
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/*       -SPACING SYSTEM (px)

      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* ****************************** */
/*  Below 1344px  Smaller desktops */
/* ****************************** */
